@{
    Layout = "../Shared/_LayoutEmpty.cshtml";
}
<div class="container-fluid">
    <div class="row" style=" border: solid 1px;">
        <div class="col-3">
            <img src="/img/logo-universidad.png" width="100" class="mt-2" />
        </div>
        <div class="col-9 text-center">
            <h2>Universidad de las Regiones Autonoma de la costa Caribe Nicaraguense</h2>
            <p><strong>Curso:</strong> Matematica Avanvanzada | <strong>Docente:</strong> Dicxie Madrigal</p>
        </div>
    </div>
    <div style="border: 2px 2px 2px solid;">
        <div class="row bg-primary" style="height: 10px;"></div>
        <div class="row bg-warning" style="height: 10px;"></div>
        <div class="row bg-success" style="height: 10px;"></div>
    </div>
    <h2>Lista de Asistencia</h2>
</div>
<table class="table table-striped">
        <thead class="text-white" style="background-color: #21a852;">
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 15%">Carnet</th>
                <th style="width: 40%">Nombre Estudiante</th>
                <th style="width: 20%">Firma / Asistencia</th>
                <th style="width: 20%">Observaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>12-05203-01-00</td>
                <td>Dicxie Danuard Madrigal Brack</td>
                <td></td>
                <td></td>
            </tr>
                        <tr>
                <td>1</td>
                <td>12-05203-01-00</td>
                <td>Dicxie Danuard Madrigal Brack</td>
                <td></td>
                <td></td>
            </tr>
                        <tr>
                <td>1</td>
                <td>12-05203-01-00</td>
                <td>Dicxie Danuard Madrigal Brack</td>
                <td></td>
                <td></td>
            </tr>
                        <tr>
                <td>1</td>
                <td>12-05203-01-00</td>
                <td>Dicxie Danuard Madrigal Brack</td>
                <td></td>
                <td></td>
            </tr>
                        <tr>
                <td>1</td>
                <td>12-05203-01-00</td>
                <td>Dicxie Danuard Madrigal Brack</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
</table>
<a asp-controller="Course" asp-action="Details" class="btn btn-secondary" > Admin</a>